.PostcodeManager__buttonContainer {
  display: flex;
  justify-content: center;
  height: 42px;
  margin-bottom: 15px;
}

.PostcodeManager__selectContainer {
  display: flex;
  height: 42px;
}

.PostcodeManager__select {
  max-width: 450px;
}