
.Button {
  outline: none;
  border: none;
  position: relative;
  line-height: 34px;
  height: 34px;
  text-align: center;
  display: flex;
  white-space: nowrap;
  font-family: "HCo Gotham SSm",sans-serif;
  font-weight: 300;
  border-radius: 17px;
  padding: 0 25px;
  text-decoration: none;
  font-size: .8125rem;
  background: #ff4c50;
  color: #fff;
  transition: all .15s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &_fullHeight {
    height: 100%;
    align-items: center;
  }

  &_disabled {
    background-color: gray;
  }
}