.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 80px;
  display: flex;
  align-items: center;
}

.Hader__logo {
  margin-right: 30px;
}

.Header__content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Header__navigation {
  display: flex;
}

@media (max-width: 999px) {
  .Header__navigation {
    display: none;
  }
}

.Header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Header__navigation_item > a {
  margin-right: 20px;

  &:hover {
    font-weight: 500;
  }
}

.Header__navigationLink {
  text-decoration: none;
  color: #343a40;
  margin: 0 1px 0 0;
  font-weight: 400;
  font-size: 15px;
}
